{% extends 'base.html.twig' %}

{% block body %}
<div class="cell">
    <a href="{{ path('show_users', {'collection': collection.id}) }}">Zurück zur Übersicht</a>
</div>

<div class="cell">
    {{ form(form) }}
</div>
{% endblock %}
