{% extends 'base.html.twig' %}

{% block body %}
<div class="cell">
    <a href="{{ path('show_users', {'collection': collection.id}) }}">Zurück zur Übersicht</a>
</div>

<div class="cell">
    <p>Hinweise zur E-Mailvorlage:</p>
    <p>Folgende Zeichenketten werden durch Variablen ersetzt.</p>
    <ul>
        <li><i>%Vorname%</i> - ersetzt durch Vornamen der Person</li>
        <li><i>%Nachname%</i> - ersetzt durch Nachnamen der Person</li>
        <li><i>%Link%</i> - ersetzt durch Login-Link der Person (benötigt, damit die Person einloggen kann)</li>
    </ul>
</div>
<div class="cell">
    {{ form(form) }}
</div>
{% endblock %}
