{% extends 'base.html.twig' %}

{% block body %}
<div class="cell">
    <a href="{{ path('collections_index') }}">Zur Übersicht der Ideensammlungen</a>
</div>

<div class="cell">
    {{ form(form) }}
</div>
{% endblock %}
